<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

    <name>My First Application</name>

    <description>
        Ok tong app na to
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        Javar
    </author>

</widget>